* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.login {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw;
}

.signup {
  transform: translateY(-40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 5vw; */
  /* width: 35vw; */
  width: 0;
  margin: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

#loginHeading,
#signupHeading {
  text-align: center;
  font-size: 2.5rem;
  transform: translateX(-5%);
  color: rgba(0, 0, 0, 0.719);
  width: max-content;
  margin-bottom: 20px;
}

form {
  width: 410px;
}

.label {
  z-index: -1;
  padding: 3px;
  color: rgba(103, 100, 255, 1);
  position: relative;
  top: 40px;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.input {
  background: rgb(224, 224, 224);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  color: rgb(117, 117, 117);
  width: 100%;
  height: 40px;
  padding: 30px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 14px;
  border: 3px solid rgba(103, 100, 255, 0);
  transition: 0.09s ease-in-out;
  font-size: 20px;
}

.input:focus {
  border: 3px solid rgba(103, 100, 255, 1);
}

.button {
  width: 410px;
  height: 75px;
  color: rgb(252, 252, 252);
  text-align: center;
  position: relative;
  font-family: "Baloo Thambi 2", cursive;
  border-radius: 5px;
  border: none;
  background: rgb(103, 100, 255);
  background: linear-gradient(
    90deg,
    rgba(103, 100, 255, 1) 0%,
    rgba(130, 127, 254, 1) 100%
  );
  font-size: 1.55rem;
  cursor: pointer;
  padding: 20px 152px;
}

.button:hover,
.button:active {
  background: linear-gradient(
    90deg,
    rgb(130, 128, 255) 0%,
    rgb(154, 153, 255) 100%
  );
}

#newUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  margin-top: 20px;
}

#createAccLabel {
  font-family: "Baloo Thambi 2", cursive;
  color: rgb(117, 117, 117);
  font-size: 0.95rem;
  margin-bottom: 4px;
}
#createAccLink {
  text-decoration: none;
  color: rgba(103, 100, 255, 1);
  cursor: pointer;
}
#createAccLink:hover,
#createAccLink:active {
  color: rgb(129, 127, 253);
}

@media only screen and (max-width: 1050px) {
  body {
    flex-direction: column-reverse;
  }
  .signup {
    width: 0;
    transform: translateY(0);
  }
  /* .signup{ */
  /* height: 0; */
  /* } */
}

@media only screen and (max-width: 576px) {
  .login {
    width: 90vw;
    margin: auto;
  }
  form {
    width: 100%;
  }
  .button,
  .SignUpButton {
    width: 100%;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 420px) {
  .button,
  .SignUpButton {
    width: 100%;
    padding: 10px 20px;
  }
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  display: none;
  /* display: flex; */
  /* flex-direction: row; */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* profile page styles--------------------------------- */

#nav {
  background: rgba(103, 100, 255, 1);
  color: rgb(252, 252, 252);
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
#nav h2 {
  font-size: 2rem;
}
#logout {
  width: 150px;
  height: 35px;
  position: relative;
  background: rgb(252, 252, 252);
  color: rgba(130, 127, 254, 1);
  cursor: pointer;
  padding: 0 12px;
}
#logout:hover {
  background: rgb(230, 230, 230);
}

/* ------------------------------------------------------------------------ */

#cards {
  padding-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardbox {
  perspective: 500px;
  margin: 25px;
  width: fit-content;
}

.card {
  position: relative;
  border-radius: 5%; /* 모서리 */
  width: 350px;
  height: 200px;
  background: #fff;
  transform-style: preserve-3d;
  transition: 0.25s ease;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: rgba(130, 127, 254, 1);
}

/* 카드 색상. 1열 */

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  color: #fff;
  backface-visibility: hidden;
}

.card-front {
  font-size: 40px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.card-back {
  font-size: 25px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.cardbox:hover .card {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}
